body{
    background-image: url('../img/pano-de-fundo-de-folhas-verdes-naturais-na-planta.jpg');
    background-color: #8b9971;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #73c784;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 9pt;

}

.cadastro-container{
    background-color: rgba(7, 139, 88, 0.829);
    padding: 50px;
    border-radius: 18px;
    box-shadow: 10px 9px 10px rgb(0, 0, 0);
    width: 300px;
    padding-left: 90px;
    padding-right: 80px;
    position: relative;
    top: 50pt;
    left: 2pt;
    height: 300pt;

}

.cadastro-container .text{
    color: white;
    position: relative;
    top: -20pt;
    left: 1pt;
    font-size: 21pt;
    font-family: Arial, sans-serif;
}
 

.frm {
    display: flex;
    flex-direction: column;
}

.frm label {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.frm input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.frm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.frm button:hover {
    background-color: #45a049;
}


.cadastro{
    background-color: transparent;
    background: rgba(3, 97, 58, 0.664);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 26px 23px;
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    top: -35pt;
    left: 2pt;
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.cadastro:hover {
    background-color: #12140413;
    cursor: pointer;
}

.home{

    background-image: url('../img/Design_sem_nome__3_-removebg-preview.png');
    background-size: 80pt 80pt;
    background-position: center;
    background-color: transparent;
    padding: 26px 23px;
    border: none;
    border-radius: 400pt;
    cursor: pointer;
    position: relative;
    top: -27pt;
    left: 227pt;
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-style: inset;
    border-color: #ffffffa8;
     opacity: 60%;
}

.home:hover {
    background-image: url('../img/Design_sem_nome__5_-removebg-preview\ -\ Editado.png');
    background-size: 80pt 80pt;
    background-position: center;
    background-color: transparent;
    border-color: #6ba36ea8;
    border-radius: 400pt;
    padding: 26px 23px;
}

.home:active {
    
    padding: 26px 23px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-link{
    color: #73c784;
    cursor: pointer;
    position: relative;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: initial;

}

.login-link:hover {
    font-style: italic;
    color: #73c784;
    text-decoration: underline;
}

.info{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    position: relative;
}

.visualizar{
  background-image: url('../img/Design_sem_nome__9_-removebg-preview.png');
  background-size: 35pt;
  background-position: center;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 136pt;
  top: -191pt;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  size: 10pt;
  width: 35pt;
  height: 35pt;
}


.visualizar:active { 
  background-image: url('../img/Design_sem_nome__10_-removebg-preview.png');
  background-size: 35pt;
  background-position: center;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 136pt;
  top: -191pt;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  size: 10pt;
  width: 35pt;
  height: 35pt;
}