

body {

    background-color: #8b9971;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    }
.container{
    background-image: url('../img/Design\ sem\ nome\ \(11\).png');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    width: 300pt;
    position: relative;
    top: 65pt;
    left: 18pt;
    height: 55pt;
    padding-left: 895pt;
}

.svg-button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  top: -116pt;
  left: -40pt;
}

.svg-button:hover {
  background-color: #f0f0f000;
  border: none;
}

.svg-path {
  transition: stroke-width 0.3s;
  border: none;
}

.svg-button:hover .svg-path {
  stroke-width: 2;
  border: none;
}

/* CSS */
@keyframes draw {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0; /* Começa totalmente desenhado */
  border: none;
}

.svg-button:hover .svg-path {
  animation: draw 500ms ease-in forwards;
  border: none;
}




.container h1{
    color: rgb(242, 243, 203); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 29pt;
    position: relative;
    top: -170pt;
    left: -850pt;
    
}

.container .login-button{
        background-image: url('../img/Design_sem_nome__6_-removebg-preview.png');
        background-size: 80pt;
        background-position: center;
        background-color: transparent;
        padding: 26px 23px;
        border: none;
        border-radius: 20pt;
        cursor: pointer;
        position: relative;
        top: -310pt;
        left: 30pt;
        font-family: Arial, sans-serif;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 50pt;
        font-weight: bold;
}

.container button:hover{
    background-color: #12140413;
    cursor: pointer;
    border-radius: 20pt;
}


.container .logo{
    width: 100pt;
    height: 100pt;
    position: relative;
    top: -90pt;
    left: -950pt;
}

.container .search-bar{
    width: 200pt;
    height: 20pt;
    border-radius: 10pt;
    border: none;
    padding: 5pt;
    font-size: 16pt;
    position: relative;
    top: -222pt;
    left: -500pt;
}

.container .usuario{
    color: antiquewhite;
    position: relative;
    top: -265pt;
    left: 80pt;
    font-family: 'catchy mager', sans-serif;
}   