h1{
    color: white;
}

body {
  background-image: url('../img/composicao-de-folhas-de-palmeira-verde-3d.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #6e8f2296;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}   

.login-container {
  background-color: rgb(124, 139, 80);
  background: rgba(3, 97, 58, 0.664);
  padding: 50px;
  border-radius: 18px;
  box-shadow: 0 2px 9px rgb(0, 0, 0);
  width: 300px;
  padding-left: 90px;
  position: relative;
  top: 50pt;
  left: 2pt;
  height: 300pt;
}

.login-container h1 {
  color: white;
  position: relative;
  top: -20pt;
  left: 6pt;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-right: 60px;
  color: white;
}


.info {
   text-align: center;
   font-family: Arial, sans-serif;
   font-style: italic;
   position: auto;
   font-size: 15px;
   top: 447pt;
   left: 508pt;
   color: white;
}

.frm {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  position: relative;
  left: 10pt;
}

label {
  margin-bottom: 5px;
  color: white;
}

input {
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #526e11;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cadastro{
  background-color: transparent;
  color: white;
  padding: 10px 12px;
  cursor: pointer;
  position: relative;
  top: 285pt;
  left: 20pt;
  font-family: Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.home{
  background-image: url('../img/Design_sem_nome__3_-removebg-preview.png');
  background-size: 80pt 80pt;
  background-position: center;
  background-color: transparent;
  padding: 26px 23px;
  border: inset;
  border-radius: 400pt;
  border-color: #e5e7dfa8;
  cursor: pointer;
  position: relative;
  top: -35pt;
  left: 213pt;
  font-family: Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  opacity: 60%;
}

.home:hover {
  background-image: url('../img/Design_sem_nome__5_-removebg-preview\ -\ Editado.png');
  background-size: 80pt 80pt;
  background-position: center;
  background-color: transparent;
  border-color: #92ad55a8;
  border-radius: 400pt;
  padding: 26px 23px;
  cursor: pointer;
}

.home:active {
  
  padding: 26px 23px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cadastro:hover {
  font-style: italic;
  color: #73c784;
  text-decoration: underline;
}

.entrada {
  background-color: #909c48;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.entrada:hover {
  background-color: #75a045;
}

.entrada:active {
  background-color: #5c7a34;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.visualizar{
  background-image: url('../img/Design_sem_nome__9_-removebg-preview.png');
  background-size: 35pt;
  background-position: center;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 112pt;
  top: -195pt;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  size: 10pt;
  width: 35pt;
  height: 35pt;
}

.visualizar:active { 
  background-image: url('../img/Design_sem_nome__10_-removebg-preview.png');
  background-size: 35pt;
  background-position: center;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 112pt;
  top: -195pt;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  size: 10pt;
  width: 35pt;
  height: 35pt;
}

